
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 17px;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {

  html,
  body {
    font-size: 16.5px;
  }
}

@media screen and (max-width: 1024px) {

  html,
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {

  html,
  body {
    font-size: 15.5px;
  }
}

@media screen and (max-width: 425px) {

  html,
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {

  html,
  body {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 320px) {

  html,
  body {
    font-size: 14px;
  }
}